[proxmox_cluster]
pve-1 ansible_host=111.111.111.111 ansible_user=root ansible_ssh_private_key_file=$HOME/.ssh/proxmox_homelab_key
pve-2 ansible_host=222.222.222.222 ansible_user=root ansible_ssh_private_key_file=$HOME/.ssh/proxmox_homelab_key
pve-3 ansible_host=333.333.333.333 ansible_user=root ansible_ssh_private_key_file=$HOME/.ssh/proxmox_homelab_key
